.navbar {
    background-color: #212121;
    height: 4em;
    position: fixed;
    width: 100%;
 }
 .navbar-brand{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.875em;
    font-family: Arial, Helvetica, sans-serif;
 }
 a:hover {
    color: white;
 }
 .cart {
    color: #FFFFFF;
    font-size: 1.4em;
    margin-top: 0.2em;
 }
 img{
    width: 10em; 
    height: 15em;
    object-fit: scale-down;
 }
 
 .cartHeader{
    text-align: center;
    font-size: 40px;
    font-family: Verdana;
    color: black;
    font-weight: bold;
 }
 
 .cart2{
    text-align: center;
    font-size: 40px;
    color: #212121;
    padding-top: 80px;
 } 
 .users{
    text-align: center;
    font-size: 60px;
    color: #212121;
    float: left;
 }
 .allProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.product{
    background-color: #F5F5F5;
    border: solid 2px #5596F5;
    border-radius: 10px;
    text-align: center;
    margin: 0.5em auto;
}
.btn-danger {
    border-radius: 10px;
    text-align: center;
    margin-bottom: 0.5em;
}
.totalpris{
   text-align: center;
}
.btn-primary {
   margin: auto;
   display: block;
}