.navbar {
    background-color: #212121;
    height: 4em;
    position: fixed;
    width: 100%;
 }

 .navbar-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.875em;
    font-family: Arial, Helvetica, sans-serif;
 }

 #numberOfProducts {
    color: #F5F5F5;
 }

 a:hover {
    color: #FFFFFF;
 }

 .cart {
    color: #FFFFFF;
    font-size: 1.4em;
    margin-top: 0.2em;
    padding-right: 0.3em;
 }

 img {
    width: 10em; 
    height: 15em;
    object-fit: scale-down;
 }
 
 .cartHeader {
    text-align: center;
    font-size: 40px;
    font-family: Verdana;
    color: #212121;
    font-weight: bold;
 }
 
 .cart2 {
    text-align: center;
    font-size: 40px;
    color: #212121;
    padding-top: 80px;
 }

 .allProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}

.product {
    background-color: #F5F5F5;
    border: solid 2px #5596F5;
    border-radius: 10px;
    text-align: center;
    margin: 0.5em;
}

.btn-danger {
    border-radius: 10px;
    text-align: center;
    margin-bottom: 0.5em;
}

#totalpris {
   text-align: center;
   font-weight: bold;
   margin-top: 1em;
}

.btn-primary {
   margin: 2em auto;
   display: block;
   border-radius: 6px;
}

@media only screen 
and (min-device-width: 768px)
and (max-device-width: 1024px)
{
   .navbar {
      height: 6em;
  }

  .navbar-brand {
      font-size: 2.3em;
  }

  #numberOfProducts {
      font-size: 1.7em;
  }

  .cart {
      font-size: 1.8em;
  }

  .headerDiv {
     padding-top: 3em;
  }

  .cart2 {
   font-size: 0.9em;
  }

  .cartHeader {
     font-size: 4em;
  }

  .product h2 {
     font-size: 2.3em;
  }

  #totalpris {
     font-size: 1.5em;
  }

  .btn-primary {
      font-size: 1.5em;

  }
}

