body {
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    display:inline-block;
    border:1px solid #ccc;
    box-sizing:border-box;
    background-color:#556b2f
}
    
button {
    background-color:#4CAF50;
    color:#fff;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    cursor:pointer;
    width:100%
}
    
button:hover {
    opacity:.8
}
    
.cancelbtn {
    width:auto;
    padding:10px 18px;
    background-color:#f44336
}
    
.imgcontainer {
    text-align:center;
    margin:24px 0 12px;
    position:relative
}
    
img.avatar {
    width:40%;
    border-radius:50%
}
    
.container {
    padding:16px
}
    
span.psw {
    float:right;
    padding-top:16px
}
    
.modal {
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:#000;
    background-color:rgba(0,0,0,0.4);
    padding-top:60px
}
    
.modal-content {
    background-color:#fefefe;
    margin:5% auto 15%;
    border:1px solid #888;
    width:80%
}

.mb-0, .my-0 {
        margin-bottom: 0!important;
        color: #FFFFFF;
        font-size: 30px;
        font-family: unset;
}
    
.close {
    position:absolute;
    right:25px;
    top:0;
    color:#000;
    font-size:35px;
    font-weight:700
}
    
.close:hover,.close:focus {
    color:#E64E4E;
    cursor:pointer
}
    
.animate {
    -webkit-animation:animatezoom .6s;
    animation:animatezoom .6s
}
    
@-webkit-keyframes animatezoom {
    from {
    -webkit-transform:scale(0)
    }
    
    to {
    -webkit-transform:scale(1)
    }
}
    
@keyframes animatezoom {
    from {
    transform:scale(0)
    }
    
    to {
    transform:scale(1)
    }
}
    
@media screen and (max-width: 300px) {
    span.psw {
    display:block;
    float:none
    }
    
.cancelbtn {
    width:100%
    }
}
    
button:hover {
    opacity:.8
}
    
.cancelbtn {
    width:auto;
    padding:10px 18px;
    background-color:#f44336
}
    
.imgcontainer {
    text-align:center;
    margin:24px 0 12px;
    position:relative
}
    
img.avatar {
    width:40%;
    border-radius:50%
}
    
.container {
    padding:16px
}
    
span.psw {
    float:right;
    padding-top:16px
}
    
.modal {
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:#000;
    background-color:rgba(0,0,0,0.4);
    padding-top:60px
}
    
.modal-content {
    background-color:#fefefe;
    margin:5% auto 15%;
    border:1px solid #888;
    width:80%
}
    
.close {
    position:absolute;
    right:25px;
    top:0;
    color:#000;
    font-size:35px;
    font-weight:700
}
    
    .close:hover,.close:focus {
    color:#E64E4E;
    cursor:pointer
}
    
.animate {
    -webkit-animation:animatezoom .6s;
    animation:animatezoom .6s
}

.fa-user:before {
        content: "\f007";
        font-size: 22px;
}
    
.fa-shopping-cart:before {
    content:"\f07a";
    color:#fff;
    font-size: 22px;
}
    
@-webkit-keyframes animatezoom {
    from {
    -webkit-transform:scale(0)
    }
    
    to {
    -webkit-transform:scale(1)
    }
}
    
@keyframes animatezoom {
    from {
    transform:scale(0)
    }
    
    to {
    transform:scale(1)
    }
}
    
@media screen and (max-width: 300px) {
    span.psw {
    display:block;
    float:none
    }
    
    .cancelbtn {
    width:100%
    }
}