.navbar {
    background-color: #212121;
    height: 4em;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.875em;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #ffffff;
} 

#numberOfProducts {
    color: #ffffff;
    padding-right: 0.3em;
}

.cart {
    color: #ffffff;
    float: right;
    font-size: 1.25em;
}

img {
    width: 10em;
    height: 17em;
    object-fit: scale-down;
}

main {
    display: flex;
    align-items: center;
}

.productContainers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productInfoContainer:nth-child(odd) {
    background-color: #F5F5F5
}

.productInfoContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 4em 0;
    margin: auto;
}

p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 15em;
    margin: auto;
}

.btn-primary {
    border-radius: 0.5em;
    text-align: center;
}

.cart2 {
    margin: auto;
    float: left;
    padding: 0.3em 0.4em;
    font-size: 1em;
}

@media only screen 
and (min-device-width: 768px)
and (max-device-width: 1024px)
{
    .navbar {
        height: 6em;
    }

    .navbar-brand{
        font-size: 2.3em;
    }

    .users {
        font-size: 1.5em;
    }

    #numberOfProducts {
        font-size: 1.7em;
    }

    .cart {
        font-size: 1.5em;
    }

    img {
        width: 20em;
        height: 30em;
    }

    .productInfoContainer {
        margin-top: 3em;
    }

    h1 {
        font-size: 4em;
    }
    
    p {
        width: 20em;
        font-size: 1.5em;
    }

    .btn-primary {
        height: 3em;
        font-size: 1.5em;
    }
}