.navbar {
    background-color: #212121;
    height: 4em;
}
.navbar-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.875em;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    color: white;
}
.fas {
    color: white;
    font-size: 1.85em;
}
.img {
    width: 5em;
}
.productInfoContainer {
    width: 10em;
}
